<div style="color: white; display: flex; flex-flow: column;">
  <div color="primary" style="display: flex; flex-flow: row; margin-bottom: 12px;">
    <mat-icon *ngIf="data.msg.severity==='info'" svgIcon="alert-outline"></mat-icon>
    <mat-icon *ngIf="data.msg.severity!=='info'" svgIcon="alert-circle-outline"></mat-icon>
    <label style="top: 4px; font-size: 16pt; width: 100%; height: 100%; max-width: 300px; word-wrap: break-word">&nbsp;{{data.msg.summary}}</label>
  </div>
  <div style="word-wrap: break-word;">{{data.msg.detail}}</div>
  <div style="margin-top: 12px;">
    <button mat-button color="warn" *ngIf="data.msg.severity!=='info'" (click)="exit()"><mat-icon svgIcon="close-outline"></mat-icon>Закрыть</button>
  </div>
</div>
