name: Check code duplication

on: pull_request_target

jobs:
  duplicate-code-check:
    name: Check for duplicate code
    runs-on: ubuntu-20.04
    steps:
      - name: Check for duplicate code
        uses: platisd/duplicate-code-detection-tool@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          # Only report similarities above 5%
          ignore_below: 50
          # If a file is more than 70% similar to another, then the job fails
          fail_above: 90
          # If a file is more than 15% similar to another, show a warning symbol in the report
          warn_above: 55
